    :root{
        --background-universal: gray;
        --footer-background: black;
        --footer-text: white;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--background-universal);
    font-family: 'Inter', sans-serif;
}
    /* HEADER */

    /* FOOTER */
    #footer{
        background-color: var(--footer-background);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;
    }
        .textCopy{
            font-size: 12px;
        }
        #footer div{
            display: flex;
        }
            #footer p{
                color: var(--footer-text);
                background-color: var(--footer-background);
            }
                #footer div p{
                    font-size: 12px;
                }
                #footer p a{
                    color: var(--footer-text);
                    background-color: var(--footer-background);
                    text-decoration: none;
                }
            #footer span{
                color: var(--footer-text);
                background-color: var(--footer-background);
                padding: 0 10px 0 10px;
                font-size: 12px;
            }
            #footer a{
                background-color: var(--footer-background);
            }
                #footer img{
                    background-color: var(--footer-background);
                    margin: 0 5px 0 5px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }