    :root{
        --background-universal: gray;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--background-universal);
}
    /* HEADER */
    header{}
        header img{
            width: 90px;
        }